.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.container {
  margin-top: var(--default-layout-header-height);
  width: var(--default-layout-width);
  min-height: 1000px;
  display: flex;
}

.content {
  flex: 1;
}
