.search,
.search-result {
  width: 361px;
}

.search-title {
  font-size: 1.4rem;
  font-weight: 600;
  padding: 5px 12px;
  color: rgba(22, 24, 35, 0.5);
}

.search {
  height: var(--search-height);
  background-color: rgba(22, 24, 35, 0.06);
  border-radius: var(--search-boder-radius);
  padding-left: 16px;
  display: flex;
  position: relative;
  border: 1.5px solid transparent;

  &::after {
    content: "";
    position: absolute;
    height: calc(var(--search-height) - var(--search-top-spacer) * 2);
    width: 1px;
    top: var(--search-top-spacer);
    right: var(--search-btn-width);
    background-color: rgba(22, 24, 35, 0.12);
  }

  &:focus-within {
    border-color: rgba(22, 24, 35, 0.2);
  }

  input {
    height: 100%;
    font-size: 1.6rem;
    padding-right: 40px;
    color: var(--black);
    background-color: transparent;
    flex: 1;
    caret-color: var(--primary);
    font-family: var(--font-family);
  }

  input:not(:placeholder-shown) ~ .search-btn {
    color: rgba(22, 24, 35, 0.75);
  }
}

.clear-btn,
.loading {
  position: absolute;
  right: calc(var(--search-btn-width) + 16px);
  top: 50%;
  transform: translateY(-50%);
  color: rgba(22, 24, 35, 0.34);
}

.loading {
  animation: spinner 0.8s linear infinite;
}

@keyframes spinner {
  from {
    transform: translateY(-50%) rotate(0);
  }
  to {
    transform: translateY(-50%) rotate(360deg);
  }
}

.search-btn {
  width: var(--search-btn-width);
  height: 100%;
  border-top-right-radius: var(--search-boder-radius);
  border-bottom-right-radius: var(--search-boder-radius);
  font-size: 1.8rem;
  color: rgba(22, 24, 35, 0.34);

  &:hover {
    background-color: rgba(22, 24, 35, 0.03);
    cursor: pointer;
  }

  &:active {
    background-color: rgba(22, 24, 35, 0.06);
  }
}
